/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,physical-layout = &arrows_southpaw_layout;
    };

    arrows_southpaw_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Arrows + Southpaw";

        transform = <&arrows_southpaw_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 175 100 1100    0       0     0     0>
            , <&key_physical_attrs 125 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  125  100       0     0     0>
            , <&key_physical_attrs 100 100  225  100       0     0     0>
            , <&key_physical_attrs 100 100  325  100       0     0     0>
            , <&key_physical_attrs 100 100  425  100       0     0     0>
            , <&key_physical_attrs 100 100  525  100       0     0     0>
            , <&key_physical_attrs 100 100  625  100       0     0     0>
            , <&key_physical_attrs 100 100  725  100       0     0     0>
            , <&key_physical_attrs 100 100  825  100       0     0     0>
            , <&key_physical_attrs 100 100  925  100       0     0     0>
            , <&key_physical_attrs 100 100 1025  100       0     0     0>
            , <&key_physical_attrs 150 100 1125  100       0     0     0>
            , <&key_physical_attrs 175 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  175  200       0     0     0>
            , <&key_physical_attrs 100 100  275  200       0     0     0>
            , <&key_physical_attrs 100 100  375  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  100  300       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 225 100  400  300       0     0     0>
            , <&key_physical_attrs 200 100  625  300       0     0     0>
            , <&key_physical_attrs 150 100  825  300       0     0     0>
            , <&key_physical_attrs 100 100  975  300       0     0     0>
            , <&key_physical_attrs 100 100 1075  300       0     0     0>
            , <&key_physical_attrs 100 100 1175  300       0     0     0>
            ;
    };

    standard_layout: physical_layout_1 {
        compatible = "zmk,physical-layout";
        display-name = "Standard";

        transform = <&standard_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 175 100 1100    0       0     0     0>
            , <&key_physical_attrs 125 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  125  100       0     0     0>
            , <&key_physical_attrs 100 100  225  100       0     0     0>
            , <&key_physical_attrs 100 100  325  100       0     0     0>
            , <&key_physical_attrs 100 100  425  100       0     0     0>
            , <&key_physical_attrs 100 100  525  100       0     0     0>
            , <&key_physical_attrs 100 100  625  100       0     0     0>
            , <&key_physical_attrs 100 100  725  100       0     0     0>
            , <&key_physical_attrs 100 100  825  100       0     0     0>
            , <&key_physical_attrs 100 100  925  100       0     0     0>
            , <&key_physical_attrs 100 100 1025  100       0     0     0>
            , <&key_physical_attrs 150 100 1125  100       0     0     0>
            , <&key_physical_attrs 175 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  175  200       0     0     0>
            , <&key_physical_attrs 100 100  275  200       0     0     0>
            , <&key_physical_attrs 100 100  375  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  100  300       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 225 100  400  300       0     0     0>
            , <&key_physical_attrs 200 100  625  300       0     0     0>
            , <&key_physical_attrs 125 100  825  300       0     0     0>
            , <&key_physical_attrs 150 100  950  300       0     0     0>
            , <&key_physical_attrs 175 100 1100  300       0     0     0>
            ;
    };

    arrows_layout: physical_layout_2 {
        compatible = "zmk,physical-layout";
        display-name = "Arrows";

        transform = <&arrows_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 175 100 1100    0       0     0     0>
            , <&key_physical_attrs 125 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  125  100       0     0     0>
            , <&key_physical_attrs 100 100  225  100       0     0     0>
            , <&key_physical_attrs 100 100  325  100       0     0     0>
            , <&key_physical_attrs 100 100  425  100       0     0     0>
            , <&key_physical_attrs 100 100  525  100       0     0     0>
            , <&key_physical_attrs 100 100  625  100       0     0     0>
            , <&key_physical_attrs 100 100  725  100       0     0     0>
            , <&key_physical_attrs 100 100  825  100       0     0     0>
            , <&key_physical_attrs 100 100  925  100       0     0     0>
            , <&key_physical_attrs 100 100 1025  100       0     0     0>
            , <&key_physical_attrs 150 100 1125  100       0     0     0>
            , <&key_physical_attrs 175 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  175  200       0     0     0>
            , <&key_physical_attrs 100 100  275  200       0     0     0>
            , <&key_physical_attrs 100 100  375  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 125 100    0  300       0     0     0>
            , <&key_physical_attrs 150 100  125  300       0     0     0>
            , <&key_physical_attrs 125 100  275  300       0     0     0>
            , <&key_physical_attrs 225 100  400  300       0     0     0>
            , <&key_physical_attrs 200 100  625  300       0     0     0>
            , <&key_physical_attrs 150 100  825  300       0     0     0>
            , <&key_physical_attrs 100 100  975  300       0     0     0>
            , <&key_physical_attrs 100 100 1075  300       0     0     0>
            , <&key_physical_attrs 100 100 1175  300       0     0     0>
            ;
    };

    southpaw_layout: physical_layout_3 {
        compatible = "zmk,physical-layout";
        display-name = "Southpaw";

        transform = <&southpaw_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 175 100 1100    0       0     0     0>
            , <&key_physical_attrs 125 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  125  100       0     0     0>
            , <&key_physical_attrs 100 100  225  100       0     0     0>
            , <&key_physical_attrs 100 100  325  100       0     0     0>
            , <&key_physical_attrs 100 100  425  100       0     0     0>
            , <&key_physical_attrs 100 100  525  100       0     0     0>
            , <&key_physical_attrs 100 100  625  100       0     0     0>
            , <&key_physical_attrs 100 100  725  100       0     0     0>
            , <&key_physical_attrs 100 100  825  100       0     0     0>
            , <&key_physical_attrs 100 100  925  100       0     0     0>
            , <&key_physical_attrs 100 100 1025  100       0     0     0>
            , <&key_physical_attrs 150 100 1125  100       0     0     0>
            , <&key_physical_attrs 175 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  175  200       0     0     0>
            , <&key_physical_attrs 100 100  275  200       0     0     0>
            , <&key_physical_attrs 100 100  375  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100  975  200       0     0     0>
            , <&key_physical_attrs 100 100 1075  200       0     0     0>
            , <&key_physical_attrs 100 100 1175  200       0     0     0>
            , <&key_physical_attrs 125 100    0  300       0     0     0>
            , <&key_physical_attrs 150 100  125  300       0     0     0>
            , <&key_physical_attrs 125 100  275  300       0     0     0>
            , <&key_physical_attrs 225 100  400  300       0     0     0>
            , <&key_physical_attrs 200 100  625  300       0     0     0>
            , <&key_physical_attrs 125 100  825  300       0     0     0>
            , <&key_physical_attrs 150 100  950  300       0     0     0>
            , <&key_physical_attrs 175 100 1100  300       0     0     0>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        arrows_southpaw_layout {
            physical-layout = <&arrows_southpaw_layout>;
            positions = <38 44>;
        };

        standard_layout {
            physical-layout = <&standard_layout>;
            positions = <38 45>;
        };

        arrows_layout {
            physical-layout = <&arrows_layout>;
            positions = <45 43>;
        };

        southpaw_layout {
            physical-layout = <&southpaw_layout>;
            positions = <44 45>;
        };
    };
};
